.app{
    background-color: #f1f2f5;
    /* height: 100vh; */
    
}

@media only screen and (max-width: 500px) {
    .app{
        background-color: red;
        width: 400px;

    }
}

.app__body{
    display: flex;
    justify-content: space-between;
}
