.messageSender {
  background-color: white;
  padding: 20px;

  margin: auto;
  /* width: 66%; */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);; */
}


.messageSender__top > form {
  display: flex;
  /* align-items: center; */
}

.messageSender__input {
  flex: 1;
}
.messageSender__top > form > input {
  padding: 10px;
  margin-left: 10px;
  border: none;
  
  outline: none;
  background-color: #f0f5f1;
  border-radius: 30px;
}

.messageSender__top > form > button {
  display: none;
}
.messageSender__bottom {
  margin-top: 15px;
  justify-content: space-evenly;
  display: flex;
}
.messageSender__elements {
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
}
.messageSender__elements:hover {
  background-color: #f0f5f1;
}
.messageSender__elements > h4 {
  margin-left: 10px;
  font-size: medium;
}

@media only screen and (max-width: 1200px) {
    .messageSender {
      background-color: white;
      padding: 20px;
      width: 93%;
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      margin-top: 20px;
    }
    /* .messageSender__top > form > input{
        margin-right: 25px;
    } */
}
@media only screen and (max-width: 500px) {
    .messageSender {
        background-color: white;
        padding: 20px;
        /* margin-left: 10px; */
        
        width: 88%;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin-top: 20px;
      }
      .messageSender__top > form {
        display: flex;
        align-items: center;
      }
      .messageSender__input {
        width:90px;
        flex: 0;
        font-size: 10px;
      
        }
      .messageSender__top > form > input{
        width:90px;
        flex: 0;
        font-size: 10px;
      }
      
      .messageSender__top > form > button {
        /* display: none; */
        display:contents;
        color:#2e81f4;
      }
      .messageSender__bottom {
        margin-top: 10px;
        justify-content: space-evenly;
        display: flex;
      }
      .messageSender__elements {
        display: flex;
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 5px;
        align-items: center;
      }
      .messageSender__elements:hover {
        background-color: #f0f5f1;
      }
      .messageSender__elements > h4 {
        margin-left: 5px;
        font-size: 10px;
      }
}